body {
	font-family: "Hiragino Sans GB", "Microsoft YaHei",
             "WenQuanYi Micro Hei", sans-serif;
}

@media (max-width: @screen-sm) {
    body{font-size: 14px;}
}

@media (max-width: @screen-xs) {
    body{font-size: 10px;}
}


.container {
	padding: 0px;
}

.flex-center {
  display: flex;
  flex-direction: column;
  justify-content: center;
  resize: vertical;
  overflow: auto;

}
.flex-center p {
  margin: 0;
  padding-top: 2vh;
  padding-bottom: 2vh;
  padding-left: 2.2vh;
  padding-right: 2.2vh;
  background-color: rgba(255,255,255,0.9);
}

#head_title {
	font-size: 1.2em;
    font-weight: bold;
}


#header {
	height: 42vh;
	background: #ffffff url("../images/header_bg.png") center center no-repeat;
	background-clip: padding-box;
	background-size: cover;
	position: relative;
	padding-top: 2.2vh;
    padding-bottom: 2.2vh;
    padding-left: 4vh;
    padding-right: 4vh;

}

#head {
	height: 28vh;
	background: #ffffff url("../images/header_bg.png") center center no-repeat;
	background-clip: padding-box;
	background-size: cover;
	position: relative;
}

#head_text {
	background-color: rgba(255,255,255,0.89);
	height: 24vh;
	width: 80%;

	position: absolute;
	top: 50%;
	left: 50%;
    transform: translate(-50%, -50%);
}

#head_text_text {
	width: 90%;
	position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

#head_text_title {
	font-size: 1.2em;
	font-weight: bold;
}

#head_text_content {
	font-size: 0.9em;
}

#hot_text {
	color: red;
	font-size: 1.2em;
}

#ad_text {
	text-align: center;
	padding-top: 5px;
}

#ad_img {
	width: 100%;
}

#gift_text {
	width: 30%;
	text-align: center;
	margin: 10px auto; 
	/* 赠品介绍: */
	border: 1px solid #DA7A7A;
	font-family: PingFangSC-Regular;
	font-size: 1.2em;
	color: #000000;
	letter-spacing: -0.36px;
	/* Rectangle 2: */
	border: 1px solid #979797;
}

.gift_list > div {
	display: table-cell;
}


.flower_list, .gift_list {
	width: 100%;
	overflow-x: auto;
}

.gift_list {
	border-spacing: 3px;
}

.sold_out {
	float: left;
	color: #ff5858;
    font-weight: 600;
}

.flower_item.is_sold_out {
	background-color: #c7c7c7;
}

.flower_item{
	background-color: #f9f9f9;
	border-radius: 6px;
	background-clip: content-box;
	border: 1px solid #fff;
}

.gift_item {
	background-color: #f9f9f9;
	border-radius: 6px;
	background-clip: content-box;
	border: 1px solid #a7a7a7;
}

.gift_item img{
	width: 260px;
}

.flower_item.active {
	background-color: #6f4d2e;
	color: aliceblue;
}

.flower_item img{
	width: 180px;
}

.flower_item_intro {
	margin-top: 5px;
	text-align: center;
    height: 20vh;
}

.flower_list > div {
	display: table-cell;
}

#step_text {
	font-size: 16px;
	text-align: center;
	padding-top: 5px;
	padding-bottom: 5px;
}

#seat_number, #phone_number{
	width: 80%;
	margin: auto;
	margin-top: 10px;
	margin-bottom: 10px;
	font-size: 1.14em;
    line-height: 18px;
    height: 50px;
    text-align: center;
}

#hint {
	font-size: 0.8em;
}

#submit_btn{
	/* Rectangle 7: */
	background-color: #8a6d3b;
	/*border-radius: 8px;*/
	/* 快把花送到我的座位上！: */
	/*font-family: PingFangSC-Semibold;*/
	font-size: 1.29em;
	color: #f0f0f0;
	/*letter-spacing: -0.44px;*/

	width: 80%;
	margin-bottom: 30px;
}

#aboutus {
	text-align: center;
}

#loading, #order_success, #order_fail{
    opacity:0.9;
    background-color:#ffffff;
    position:fixed;
    width:100%;
    height:100%;
    top:0px;
    left:0px;
    z-index:1000;
}

#order_success, #order_fail {
	display: table;
}

#order_success p, #order_fail p {
  display: table-cell;
  margin: 0;
  padding: 20px;
  border: 10px solid white;
  vertical-align: middle;
  font-size: 1.2em;
}

#success_ok, #fail_ok {
	display: table-cell;
    vertical-align: middle;
}

#success_ok_btn, #fail_ok_btn {
	width: 80%;
	margin-bottom: 10px;
}

hr.style14 { 
  border: 0; 
  height: 1px; 
  width: 60%;
  margin-top: 3px;
  margin-bottom: 3px;
  background-image: -webkit-linear-gradient(left, #f0f0f0, #8c8b8b, #f0f0f0);
  background-image: -moz-linear-gradient(left, #f0f0f0, #8c8b8b, #f0f0f0);
  background-image: -ms-linear-gradient(left, #f0f0f0, #8c8b8b, #f0f0f0);
  background-image: -o-linear-gradient(left, #f0f0f0, #8c8b8b, #f0f0f0); 
}

.invisible {
	display: none;
}

/*help*/
.help{
    width: 30px;
    height: 30px;
    border: 2px #8a6d3b solid;
    border-radius: 50%;
    -webkit-animation: rotation 1s ease-in-out infinite;
       -moz-animation: rotation 1s ease-in-out infinite;
            animation: rotation 1s ease-in-out infinite;
    
    position: absolute;
    margin: auto;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
}
.help:after{
    width: 5px;
    height: 5px;
    background-color: rgba(255,255,255,1);
    border-radius: 100%;
    position: absolute;
    content: "";
}
@-webkit-keyframes rotation{
    0%{-webkit-transform: rotate(0deg);}
    100%{-webkit-transform: rotate(360deg);}
}
@-moz-keyframes rotation{
    0%{-moz-transform: rotate(0deg);}
    100%{-moz-transform: rotate(360deg);}
}
@keyframes rotation{
    0%{transform: rotate(0deg);}
    100%{transform: rotate(360deg);}
}
